html, body
{
    margin: 0;
    font-family: 'Galindo';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: #000000;
}

.banner > img{
    height: 500px;
}

.gallery > img{
    height: 250px;
    width: 200px;
    object-fit:cover
}

.headerContacs
{
    display: flex;
    color: #D21212;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px 0 100px;
    height: 50px;
    font-size: 18px;
}
.headerContacs > *
{
    display: flex;
    align-items: center;
}
.headerContacs > * > img
{
    width: 40px;
    height: 40px;
    padding: 5px;
}

header
{
    background-color: #D21212;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    
}


#logo
{
    background-color: #2bd125;
    height: 70px;
    width: 15%;
}
#searchBar
{
    background-color: #ffffff;
    height: 70px;
    width: 50%;
    
}
#headerProfile
{
    background-color: #2bd125;
    height: 70px;
    width: 15%;
}

.nav
{
    justify-content: space-between;
    margin: 0px 8% 0px 8%;
}
.nav-link
{
    color: #000000;
}

.nav-link:hover
{
    color: #D21212;
}

.nav-item
{
    display: flex;
    align-items: center;
    border-right:1px solid;
    padding-right: 1.8%;
}
.nav-item:first-child
{
    border-left:1px solid;
    padding-left: 1.8%;
}
.nav-item > .img-thumbnail
{
    height: 30px;
    border: none;
    margin: 0px;
    padding: 0px;
}

.banner img
{
    width: 100%;
}
.highlights
{
    display: flex;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    /* background-color: #2bd125; */
}

.highlights > div
{
    width: 100%;
    display: flex;
    padding: 2%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2bd125;
    /* top: 50%; */
}

.highlights div img
{
    height: 50px;
}
.highlights div p
{
    background-color: #D21212;
}