<mat-toolbar>
  <div id="logo">
  </div>
  <menu>
      <ul class="nav">
          <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/']">Início</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/construcao']">Horários</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/construcao']">Campeonato</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/construcao']">Resultado</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/construcao']">Notícias</a>
          </li>
      </ul>
  </menu>
  </mat-toolbar>