
.banner{
    background-image: url("../../../assets/img/banner.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size:cover; /* Resize the background image to cover the entire container */
    height: 70%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* .banner
{
    height: 70px;
    width: 100px;
} */